/build
/lean_packages
!/lean_packages/manifest.json
/rawdata
.ammonite/
.metals/
.vscode/
OpenaiModelPrompting/Open_ai_key.py
__pycache__
OpenaiModelPrompting/*/.ipynb_checkpoints
SentenceSimilarityTask/embeddings_store
/_target/
/OpenaiModelPrompting/easy_to_hard