/build
/lean_packages
!/lean_packages/manifest.json
/rawdata
.ammonite/
.metals/
.vscode/
OpenaiModelPrompting/Open_ai_key.py
__pycache__
OpenaiModelPrompting/*/.ipynb_checkpoints
SentenceSimilarityTask/embeddings_store/*.pkl
/_target/
/OpenaiModelPrompting/easy_to_hard
data/tagged_nl2.json
*.npy
lake-packages/
.cache/
dependency_graph/deps.yaml
dependency_graph/deps_copy_rep.yaml
scripts/.ipynb_checkpoints/
md/
slides/
env/
.lake/
*.eps
*.bmp
*.zip
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*~
*.doc
*.xcf
*.pptx

*.pdf
*.ps
*.vrb

*.fdb_latexmk
*.fls

*.nav
*.snm
*.bak
*.db
*.ppsx
*.ppt
Shubhra-thesis*
*.gz
*.odg
*.tar
*.semanticdb
*.class
.metals/
.vscode/
.ammonite/
out/
target/
*.xopp
*.swp
.scala-build/
venv/
leanaide_logs/
private/
.env
leanaide_st_temp/
**.leanaide_cache**
.leanaide_cache/