/build
/lean_packages
!/lean_packages/manifest.json
/rawdata
.ammonite/
.metals/
.vscode/
OpenaiModelPrompting/Some_prac_work/Open_ai_key.py
__pycache__
OpenaiModelPrompting/*/.ipynb_checkpoints
SentenceSimilarityTask/embeddings_store